{% extends 'event-helper/_layouts' %}
{% import "_includes/forms" as forms %}

{% set tabs = craft.eventHelper.getCpTabs %}

{% set selectedTab = 'settings' %}
{% set fullPageForm = true %}

{% block blockContent %}
    <p>Settings page content goes here</p>

    <form method="POST" accept-charset="UTF-8">
        {{ csrfInput() }}
        <input type="hidden" name="action" value="plugins/save-plugin-settings">
        <input type="hidden" name="pluginHandle" value="event-helper">

        {% namespace 'settings' %}

          {{ forms.lightswitchField({
              id: 'sendRSVPNotifications',
              name: 'sendRSVPNotifications',
              label: 'Send RSVP notifications' | t,
              on: settings.sendRSVPNotifications,
              instructions: 'Send an email notification to the user when they RSVP to an event.' | t,
              errors: settings.getErrors('sendRSVPNotifications'),
          }) }}

          {{ forms.textareaField({
              id:            'rsvpNotificationBody',
              name:          'rsvpNotificationBody',
              rows:          '14',
              label:         'RSVP notification email message body' | t,
              instructions:  'Enter the body of the email message body to be sent to the user when they RSVP for an event. Note that the placeholders must NOT be removed.' | t,
              value:         settings.rsvpNotificationBody,
              errors:        settings.getErrors('rsvpNotificationBody'),
          }) }}

        {% endnamespace %}

    </form>

{% endblock %}
